# Ignore node_modules in all directories
node_modules/

# Ignore build artifacts
packages/frontend/build/
packages/backend/dist/

# Ignore logs and temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor-specific files
.vscode/
.idea/
.DS_Store

.env